{% extends "my_planner/base.html" %}
{% load i18n %}
{% block title %}{% trans "confirm delete"|capfirst %}{% endblock title%}
{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{% trans "confirm delete"|capfirst %}</legend>
            <h2>{% trans "are you are sure to delete this"|capfirst %}"{{object.title}}" {% trans "meeting"|capfirst %}</h2>
        </fieldset>
            <div class="form-group">
               <button class ="btn btn-outline-danger" type="submit">{% trans delete|capfirst %}</button> 
               <a class ="btn btn-outline-secondary" href="{% url 'index' %}">{% trans "cancel"|capfirst %}</a> 
            </div>
    </form>
</div>
{% endblock content %}